.Header {
    color: coral;
    border-style: solid;
    border-width: 0 0 5px 0;
    font-family: Petit Formal Script;
    font-size: 18pt;
    text-align: center;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
}
.Measurements {
    margin-top: 30px;
    flex: 1
}

.Measurements label {
    font-family: Petit Formal Script; 
}

.Measurements input.text {
    width: 80px;
}

.Measurements input.range {
    width: 200px;
}

.Measurements input.range::-moz-range-track {
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.Measurements input.range::-moz-range-thumb {
    background: #ddd;
    border: 2px solid coral;
    border-radius: 50%;
}

.Measurements input.range::-moz-range-progress {
    background: coral;
}

