.Header {
    color: coral;
    border-style: solid;
    border-width: 0 0 5px 0;
    font-family: Lato, san-serif;
    font-weight: 100;
    font-size: 6em;
    text-align: center;
    width: 80%;
    margin: auto;
}

li {
    display: inline;
    font-family: Petit Formal Script;
    padding: 10px;
}

li a {
    color: coral;
}

a:link {
    text-decoration: none;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.navigation-bar {
    background-color: coral;
    margin: 0 auto;
    position: absolute;
    left: 30%;
    top: 20px;
}

.signuptext {
    width: 180px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid coral;
    border-radius: 5px;
    padding-left: 10px;
		    
}

.signuptextstyle {
    height: 200px;
    width: 80%;
    background: coral;
    margin: 0 auto;
    position: relative;
}
.greeting {
    height: 50px;
    width: 80%;
    font-family: Petit Formal Script;
    font-size: 20px;
    background: white;
    position: relative;
}

.radioselecttext {
    font-family: Petit Formal Script;
    color: black;
    font-size: 16px;
}

.pricetexttag {
    font-family: Petit Formal Script;
    color: black;
    font-size: 16px;
}
.txtName {
    font-family: Petit Formal Script;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    position: absolute;
    bottom: 30%;
    left: 35%;
}

.Measurements {
    flex: 1;
    margin-top: 30px;
    opacity: 0;
}

.Measurements label {

    font-family: Petit Formal Script;
}

.Measurements input.measurement-text {
    width: 80px;
    height: 25px;
    margin-top: 0px;
    padding-left: 5px;
    border: 1px solid grey ;
    border-radius: 3px;
}

.Measurements input.range {
    width: 200px;
}

.Measurements input.range::-moz-range-track {
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.Measurements input.range::-moz-range-thumb {
    background: #ddd;
    border: 2px solid coral;
    border-radius: 50%;
}

.Measurements input.range::-moz-range-progress {
    background: coral;
}

.clearButton, .submitButton{
    border: 2px solid coral;
    border-radius: 12px;
    background-color: white;
    color: coral;
    padding: 10px 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Petit Formal Script;
    cursor: pointer;
    opacity: 0;
}

.navigation-bar .fa {
    font-size: 30px;
    -moz-transform: scale(0.95);
    -moz-transition-duration: 0.2s;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
}
.navigation-bar .fa:hover {
    -moz-transform: scale(1.2);
}
.fa-user-plus{
    border-radius: 50%;
    background-color: coral;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.plot {
    border: 2px solid coral;
    margin: auto;
    width: 800px;
    height: 500px;
    cursor: curser;
    opacity: 0;
}

.plot:active {
    cursor: grabbing;
}

.coralAxis line{
  stroke: coral;
}

.coralAxis path{
  stroke: coral;
}

.coralAxis text{
    fill: coral;
    font-family: Petit Formal Script;
    font-size: 16px;
}

.tooltip {	
    position: absolute;			
    text-align: left;								
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightblue;	
    border: solid 1px;
    border-color: blue; 
    border-radius: 8px;			
    pointer-events: none;
}

.sliderText {	
    position: absolute;			
    left: 20%;
    top: 20%;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 4em;
    color: white;
    background: none;	
    border: none;
    opacity: 0;
}


.result-container {
    width: 80%;
    margin: auto;
}

.gallery {

    border: 2px solid #ccc;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    opacity: 0;
}


.gallery:hover {
    border: 2px solid #777;
}


.img {
    flex: 1;
    width: auto;
    height: 100%;
}

.desc {
    flex: 1;
    padding: 15px;
    text-align: center;
    font-family: Petit Formal Script;

}


.results {
    font-family: Petit Formal Script;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0;
}

.xLabel {
    color: coral;
    font-family: Petit Formal Script;
    width: 80%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    opacity: 0;
    
}

.yLabel {
    color: coral;
    font-family: Petit Formal Script;
    width: 100px;
    height: 500px;
    font-size: 16px;
    text-align: center;
    line-height: 500px;
    float: left;
    vertical-align: middle;
    -moz-transform: translate(130px, 0px);
    opacity: 0;
}

.Footer {
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: coral;
    width: 80%;
    height: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer1 {

    flex: 1;
}
.footer1 a {
    color: coral;
    font-family: Petit Formal Script;
    font-size: 13pt;
    text-decoration: none;
}
.footer2 {
    flex: 1;
    color: coral;
    font-family: Petit Formal Script;
    font-size: 13pt;
}

.footer3  {
    flex: 1;
}

.footer3 .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    -moz-transform: scale(0.8);
    -moz-transition-duration: 0.5s;
}
.footer3 .fa:hover {
    -moz-transform: scale(1.1);

}

.fa-facebook {
    background: white;
    color: coral;
    border: 2px solid coral;
}
.fa-twitter {
    background: white;
    color: coral;
    border: 2px solid coral;
}
.fa-instagram {
    background: white;
    color: coral;
    border: 2px solid coral;
}
.fa-linkedin {
    background: white;
    color: coral;
    border: 2px solid coral;
}


.mainslider {
    display: block;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.sliderimg {
    position: absolute;
    width: 100%;
    height: 400px;
}

.slideNav {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
}


.slideNav .fa {
    padding: 0px;
    font-size: 50px;
    width: 20px;
    text-decoration: none;
    border-radius: 50%;
    -moz-transform: scale(0.9);
    -moz-transition-duration: 0.5s;
    color: white;
    right: 0px;
}

.arrow-left {
    position: absolute;
    left: 10px;
}

.arrow-right {
    position: absolute;
    right: 10px;
}


.slideNav .fa:hover {
    -moz-transform: scale(1.2);
}


.circleNav {
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.c1 {
    bottom: 20px;
    left: 47%;
    background: coral;
}

.c2 {
    bottom: 20px;
    left: 49%;
    background: none;
}

.c3 {
    bottom: 20px;
    left: 51%;
    background: none;
}

.c4 {
    bottom: 20px;
    left: 53%;
    background: none;
}